.backButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #ffffff;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  font-weight: 400;
  transition: all 0.2s ease;
  border: 1px solid #000;
}

.backButton:hover {
  background: #d0d0d0;
  transform: translateY(-1px);
}

.backIcon {
  width: 1.125rem;
  height: 1.125rem;
}

.backText {
  font-size: 0.875rem;
  font-weight: 600;
}